<mat-toolbar class="header mat-elevation-z4">
        <span>
            <a routerLink="/">
                <img class="logo" src="assets/img/LogoNome.png" alt="logo">
            </a>
        </span>
        <span class="title-group">
            <a>
                <i class="material-icons" routerLink="{{ routerUrl }}">
                    {{ icon }}
                </i> 
                <h2 class="items" style="font-family: 'Montserrat', sans-serif;">{{ title }}</h2>
            </a>
        </span>
</mat-toolbar>